
.product-container{
     width:80%;
     margin:auto;
     padding:20px;
}
.product-items{
background-color: rgb(248, 245, 245);
text-align: center;
padding: 50px;
gap: 20px;
height: 450px;
align-items: center;
justify-content: center;
 
h3{
    font-family: sans-serif;
    font-size: 18px;
}
}
.details{
    padding: 10px 29px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.3s ease-in;

    &:hover{
        background-color: black;
        color: white;
    }
}
.product-text{
    text-align: center;
    margin-bottom: 20px;
    h2{
        font-size: 60px;
        font-weight: 300;
    }
    span{
        font-size: 20px;
    }
}