.detail-container{
    display: flex;
    gap: 50px;
    height: 500px;
    padding: 10px 100px;
    align-items: center;
    font-family: sans-serif;
    background-color: whitesmoke;
    
    img{
        background-color: rgb(221, 220, 220);
        border: 1px solid black;
        width: 350px;
        height: 400px;
        border-radius: 20px;
    }
    
}
.container-items{
  display: flex;
  flex-direction: column;
  gap: 40px;

  button{
    padding: 10px 40px;
    font-size: 15px;
    transition: all 0.3s ease;
    &:hover{
        background-color: black;
        color: white;
    }
  }

}